.nav-link {
  color: #6c757d;
}

.active {
  color: #007bff;
}

.navbar-text {
  margin-left: auto;
}

.navbar-toggler{
  outline: none !important;
}

.navbar-toggler:active{
  background-color: #0353ff;
}
