.word-item {
  padding: 10px 5px;
  border-radius: 5px;
}

.word-element {
  width: 50%;
}

.word-item:nth-child(2n - 1) {
  background-color: #e3e3e3;
}

.word-item__show-state {
  display: flex;
  justify-content: space-between;
}

.word-item__edit-state {
  display: flex;
}

.hide {
  display: none;
}

.word-item__edit-form {
  width: 100%;
}

.word-item__button-wrapper {
  display: flex;
}

.word-item__edit-button {
  display: none;
}

@media only screen and (max-width: 991.98px) {
  .word-item__show-state {
    flex-direction: column;
    position: relative;
    padding-right: 25px;
  }

  .word-item__edit-button {
    display: block;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    outline: none;
  }

  .word-item__button-wrapper {
    display: none;
  }
}
